<header class="header">
	<div class="header__container">
		<div class="header__body">
			<a class="header__logo" href="index.html">
				<picture>
					<source type='image/webp' srcset='@img/logo.webp'>
					<img src='@img/logo.png' alt='Logo'>
				</picture>
			</a>
			<nav class="header__menu header-menu">
				<div class="header-menu__wrapper">
					<ul>
						<li class="header-menu__item"><a href="#">Конструктор</a></li>
						<li drop-down data-accordion-absolute class="header-menu__item header-menu-accordion">
							<div class="header-menu-accordion__preview">
								<p class="header-menu-accordion__title">Поширити</p>
								<div class="header-menu-accordion__icon">
									<svg width="14" height="9" viewBox="0 0 14 9">
										<path fill-rule="evenodd" clip-rule="evenodd" d="M14.8788 1.46376L13.4339 3.6646e-07L7.43942 6.07249L1.44495 -6.31608e-08L-3.2942e-07 1.46376L7.43942 9L14.8788 1.46376Z" />
									</svg>
								</div>
							</div>
							<div class="header-menu-accordion__wrapper">
								<ul class="header-menu-accordion__body header-menu-accordion__body_social">
									<li>
										<a>
											@@include('../icons/_instagram.html')
										</a>
									</li>
									<li>
										<a>
											@@include('../icons/_telegram.html')
										</a>
									</li>
									<li>
										<a>
											@@include('../icons/_viber.html')
										</a>
									</li>
								</ul>
							</div>
						</li>
						<li drop-down data-accordion-absolute class="header-menu__item header-menu-accordion">
							<div class="header-menu-accordion__preview">
								<p class="header-menu-accordion__title">Контакти</p>
								<div class="header-menu-accordion__icon">
									<svg width="14" height="9" viewBox="0 0 14 9">
										<path fill-rule="evenodd" clip-rule="evenodd" d="M14.8788 1.46376L13.4339 3.6646e-07L7.43942 6.07249L1.44495 -6.31608e-08L-3.2942e-07 1.46376L7.43942 9L14.8788 1.46376Z" />
									</svg>
								</div>
							</div>
							<div class="header-menu-accordion__wrapper">
								<ul class="header-menu-accordion__body header-menu-accordion__body_contacts">
									<li>
										<a>
											+38 (050) 000 00 00
										</a>
									</li>
									<li>
										<a>
											+38 (063) 000 00 00
										</a>
									</li>
									<li>
										<a>
											+38 (097) 000 00 00
										</a>
									</li>
								</ul>
							</div>
						</li>
						<li data-cart class="header-menu__item">
							<span>
								@@include('../icons/_cart.html')
							</span>
						</li>
					</ul>
				</div>
			</nav>
			<div class="header__burger burger">
				<div class="burger__wrapper">
					<span></span>
				</div>
			</div>
		</div>
	</div>
	<div data-to-hide class="header__bottom">
		<p>10% з кожної проданої речі перераховується в фонд "Повернись живим"</p>
	</div>
</header>