<div data-pop-up class="cart">
	<div class="cart__wrapper">
		<div class="cart__body">
			<div data-pop-up-close class="cart__close-icon-wrapper">
				<div class="cart__close-icon"></div>
			</div>
			<div class="cart__container">
				<h3 class="cart__title">Корзина</h3>
				<div class="cart__content">
					<div class="cart__item item-cart">
						<div class="item-cart__body">
							<div class="item-cart__photo">
								<picture>
									<source type='image/webp' srcset='@img/3bg.webp'>
									<img src='@img/3bg.png' alt='Product photo'>
								</picture>
							</div>
							<div class="item-cart__about">
								<h4 class="item-cart__name">Product name</h4>
								<div class="item-cart__action">
									<div class="item-cart__amount">
										<p class="item-cart__remove"><span></span></p>
										<p class="item-cart__num">1</p>
										<p class="item-cart__add"><span></span><span></span></p>
									</div>
									<div class="item-cart__delete">
										<span>@@include('../icons/_trash.html')</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="cart__item item-cart">
						<div class="item-cart__body">
							<div class="item-cart__photo">
								<picture>
									<source type='image/webp' srcset='@img/3bg.webp'>
									<img src='@img/3bg.png' alt='Product photo'>
								</picture>
							</div>
							<div class="item-cart__about">
								<h4 class="item-cart__name">Product name</h4>
								<div class="item-cart__action">
									<div class="item-cart__amount">
										<p class="item-cart__remove"><span></span></p>
										<p class="item-cart__num">1</p>
										<p class="item-cart__add"><span></span><span></span></p>
									</div>
									<div class="item-cart__delete">
										<span>@@include('../icons/_trash.html')</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="cart__item item-cart">
						<div class="item-cart__body">
							<div class="item-cart__photo">
								<picture>
									<source type='image/webp' srcset='@img/3bg.webp'>
									<img src='@img/3bg.png' alt='Product photo'>
								</picture>
							</div>
							<div class="item-cart__about">
								<h4 class="item-cart__name">Product name</h4>
								<div class="item-cart__action">
									<div class="item-cart__amount">
										<p class="item-cart__remove"><span></span></p>
										<p class="item-cart__num">1</p>
										<p class="item-cart__add"><span></span><span></span></p>
									</div>
									<div class="item-cart__delete">
										<span>@@include('../icons/_trash.html')</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cart__form">
					@@include('../sections/_form.html')
				</div>
			</div>
		</div>
	</div>
</div>